@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li,
ul,
ol {
  list-style: none;
}
:root {
  --background-color: #f6f8ff;
  --background-color-contener: #fefefe;
  --text-color: #4b6a9b;
  --btn-text-color: #697c9a;
  --title-color: #2b3442;
  --logo-color: #222731;
}
.dark-theme {
  --background-color: #141d2f;
  --background-color-contener: #1e2a47;
  --text-color: #fff;
  --btn-text-color: #fff;
  --title-color: #fff;
  --logo-color: #fff;
}
.wrapper {
  display: flex;
  max-width: 730px;
  width: 100%;
  align-items: center;
}
body {
  padding: 144px 10px 170px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", sans-serif;
  background: var(--background-color);
  transition: background 0.5s, color 0.5s;
}
.main {
  justify-content: space-between;
  height: 38px;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-color);
}
.dark {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.19em;
  color: var(--btn-text-color);
}
.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  background: none;
  cursor: pointer;
}
form {
  margin-top: 36px;
  height: 69px;
  padding: 9.5px 10px 9.5px 32px;
  background: var(--background-color-contener);
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
  border-radius: 15px;
  cursor: pointer;
}
form > input {
  width: 254px;
  padding-left: 34px;
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: var(--text-color);
}
form > button {
  margin-left: 304px;
  border: none;
  
  border-radius: 10px;
  width: 106px;
  height: 50px;
  background: #0079ff;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
form > button:hover {
  transition: 0.5s;
  background: #60abff;
}
.main-contener {
  margin-top: 24px;
  border-radius: 15px;
  max-width: 730px;
  width: 100%;
  height: 544px;
  padding: 48px;
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
  background: var(--background-color-contener);
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.content {
  display: flex;
  gap: 37px;
}
.data {
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  grid-template-columns: 314px 168px;
  grid-template-rows: 39px 24px;
}
.data > h2 {
  font-weight: 700;
  font-size: 26px;
  color: var(--title-color);
}
.data > p {
  font-weight: 400;
  font-size: 15px;
  color: var(--btn-text-color);
}
.data > span {
  font-weight: 400;
  font-size: 16px;
  color: #0079ff;
}
.infos {
  width: 480px;
  display: flex;
  flex-direction: column;
  transform: translateX(155px);
  position: relative;
  top: -90px;
}
.info > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: var(--text-color);
}
.information {
  padding-top: 32px;
  width: 480px;
  height: 185px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}
.statistics {
  padding: 15px 0px 17px 32px;
  margin-top: 32px;
  border-radius: 10px;
  width: 480px;
  height: 85px;
  background: var(--background-color);
  display: grid;
  grid-template-columns: 139px 154px 72px;
}
.statistics > div > p {
  font-weight: 400;
  font-size: 13px;
  color: var(--text-color);
}
.statistics > div > h3 {
  font-weight: 700;
  font-size: 22px;
  color: var(--title-color);
}
.contact {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 52% 40%;
  gap: 19px;
}
.contact > div {
  gap: 19px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact > div > p {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
}
.twitter {
  opacity: 0.5;
}
.contact > div > p:hover {
  transition: 0.5s;
  border-bottom: 0.5px solid var(--text-color);
}
@media screen and (max-width: 768px) {
  body {
    padding: 188px 0px 188px 0px;
  }
  .wrapper {
    max-width: 573px;
  }
  form > button {
    margin-left: 145px;
  }
  .main-contener {
    width: 573px;
    height: 481px;
    padding: 40px;
    gap: 24px;
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2px;
  }
  .data > p {
    position: relative;
    top: 25px;
  }
  .data > span {
    position: relative;
    top: -25px;
  }
  .info {
    transform: translateX(0px);
    position: relative;
    top: 0px;
  }
  .information {
    padding-top: 24px;
  }
}
@media screen and (max-width: 600px) {
  body {
    padding: 30px 0px 30px 0px;
    margin: 0 auto;
  }
  .wrapper {
    width: 100%;
    max-width: 327px;
  }

  form {
    padding: 7px 7px 7px 16px;
    height: 60px;
    width: 327px;
    display: flex;
    align-items: center;
  }
  form > img {
    width: 20px;
    height: 20px;
  }
  form > input {
    font-size: 13px;
    line-height: 192%;
    padding-left: 9px;
  }
  form > button {
    margin-left: 7px;
  }
  .main-contener {
    padding: 32px 24px 48px 24px;
    width: 327px;
    height: 517px;
    gap: 33px;
  }
  .content > img {
    width: 70px;
    height: 70px;
  }
  .data > h2 {
    font-size: 16px;
  }
  .data > p {
    font-size: 13px;
  }
  .data > span {
    font-size: 13px;
  }
  .info {
    width: 279px;
  }
  .info > p {
    font-weight: 400;
    font-size: 13px;
    line-height: 192%;
  }
  .information{
    width: 327px;
    margin: 0;
    padding: 0;
  }
  .statistics {
    margin-top: 23px;
    padding: 18px 14px 15px 15px;
    width: 279px;
    height: 85px;
    grid-template-columns: 80px 83px 83px;
  }
  .statistics > div {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact {
    margin-top: 24px;
    position: relative;
    height: 127px;
    grid-template-columns: 250px;
    grid-template-rows: repeat(4, 20px);
    gap: 16px;
  }
  .contact > p {
    font-size: 13px;
  }
  .sanFransisko {
    order: 1;
  }
  .twitter {
    order: 3;
  }
  .githubblog {
    order: 2;
  }
  .github {
    order: 4;
  }
}
